@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

* {
  font-family: 'Raleway', Arial, sans-serif;
}

body {
  margin-top: 50px;
  align-items: center;  
  background-color: #F0EFEB;
  color: #69381E;
}

main {
  margin: 5%;
}

/* home */

.home {
    width: 80%;
    margin: 10%;
    align-items: center;  
    text-align: center; 
}


/* bookList */

div.bookList {
    background-color: #EDDCD2;
    align-items: center;
    margin:4px;
    text-align: center;
    display: block;
    float: left;
    padding: 15px 0.5% 5px 0.5%;
    width: 22%;
    min-width: 110px;
    height:580px;
    overflow: auto;
  }
  img.bookListImage {
    max-width: 90%;
    max-height: 75%;    
    align-items: center;
    margin-top: 2px;
  }


/* Overlay BookDetails */

div#bookDetail{
    position: fixed; /* Set on top of the page content */
    width: 60%; /* Full width (cover the whole page) */
    min-height: 60%; /* Full height (cover the whole page) */
    max-height: 80%;
    top: 16%;
    left: 15%;
    background-color: #96967A;/* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;  /* Add a pointer on hover */
  
    color: white;
    padding: 0% 5% 3% 5%;
    opacity: 0.95;
    overflow: auto;
  }
  
  img#bookDetailImage {
    width: 40%;
    float: left;
    margin:0 40px 0 0
  }
  
  #closeDetails {
    font-size: 110%; 
    float: right;
  }



  td, th {
    padding: 10px;
    text-align: left;
  }

  thead {
    background-color: #EDDCD2;
  }