@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

* {
  font-family: 'Raleway', Arial, sans-serif;
}

body {
  margin-top: 50px;
  align-items: center;  
  background-color: #F0EFEB;
  color: #69381E;
}

main {
  margin: 5%;
}

/* ShowList */

div.bookList {
    background-color: #EDDCD2;
    align-items: center;
    margin:5px;
    margin:4px;
    text-align: center;
    display: block;
    float: left;
    padding: 5px;
    width: 25%;
    min-width: 110px;
    height:480px;
    overflow: auto;
  }
  img.bookListImage {
    width: 90%;
    height: 320px;
    align-items: center;
    margin-top: 2px;
  }